@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale:1;}

html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *::before, *::after {
	box-sizing:inherit;
}

body{
	margin:0;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #f6fdff;
}

.masthead{
	background-color: #f6fdff;
	overflow: hidden;
	position: relative;

}

.logo{
	width: 5rem;
	margin: auto;
	display: block;
	padding-top: 1em;

}

nav a{
	float: right;
	color: #f2ca40;
	text-decoration: none;
	padding: 1em;
	position: absolute;
	top: 2em;
	font-weight: 300;

}




.banner{
	margin: 0;
}

.me{
	width: 100%
}

@media only screen and (min-width: 50em){
.me{
	
}
	
}

h1{
	top: 4rem;
	position: absolute;
	font-family: 'Kreon', serif;
	font-weight: 300;
	font-size: 2rem;
	padding: 2em;
	color: #f2ca40;
	text-shadow: 2px 3px 6px black;
	
}

@media only screen and (min-width: 31.25em){
	h1{
		font-size: 3rem;
	}
}

@media only screen and (min-width: 50em){
	h1{
		font-size: 4.5rem;
		margin-left: 0.5em;
		color: #f2ca40;
		text-shadow: none;
		top: 0;
	}
}

p{
	font-size: 1rem;
}
.intro{
	margin: 1em;

}

@media only screen and (min-width: 50em){
	.intro{
		margin-left: 30%;
	}
}

@media only screen and (min-width: 43.75em){
	.intro{
		margin-left: 30%;
		margin-right: 20%;


	}
}

@media only screen and (min-width: 50.75em){
	.intro{
		margin-right: 30%;
	}
}



.me{
	width: 100%;
}

@media only screen and (min-width: 50em){
	.banner img{
		width: 75%;
		margin-left: 30%;
		max-width: 486px;
	}
}

.social{
	text-align: center;
}

.linked-in{
	display: block;
	margin: auto;
	padding: 1em;
}

@media only screen and (min-width: 31.25em){
		.linked-in{
		display: inline-block;
		padding: 2em;
}
}



@media only screen and (min-width: 50em){

}

.tumblr{
	display: block;
	margin: auto;
	padding: 1em;
}
@media only screen and (min-width: 31.25em){
	.tumblr{
		display: inline-block;
		padding: 2em;
		
		
		}
	}

.facebook{
	display: block;
	margin: auto;
	padding: 1em;
}
@media only screen and (min-width: 31.25em){
	.facebook{
		display: inline-block;
		padding: 2em;
	}
	}

.logo-bottom{
	width: 2rem;
	margin: auto;
	display: block;
	padding-top: 1em;
}



.contact a{
	display: block;
	padding: 0.5rem;
	text-align: center;
	font-size: 0.8rem;
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	color: black;
}

@media only screen and (min-width: 31.25em){
	.contact a{
		display: block;
		margin: auto;
	}
}

@media only screen and (min-width: 50em){
	.contact a{
		font-size: 1rem;
	}
}
.contact{
	background-color: #f2ca40;
}

a:hover{
	color: #fff;
}


h3{
	margin: 1em;
	color: #f6fdff;
	font-weight: 300;
}